<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instanteat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstantEat">
        <activity android:name=".SearchActivity"></activity>
        <activity
            android:name=".EditCardActivity"
            android:noHistory="true" />
        <activity
            android:name=".OrderSummary"
            android:label="Resumen del Pedido"
            android:noHistory="true" />
        <activity
            android:name=".SuborderSummary"
            android:label="Resumen del Subpedido"
            android:noHistory="true" />
        <activity
            android:name=".OrderSummaryOwner"
            android:label="Resumen del Pedido"
            android:noHistory="true" />
        <activity
            android:name=".OrderEditorActivity"
            android:label="Editor del Pedido" />
        <activity
            android:name=".ChooseSubordersActivity"
            android:label="Añadir subpedidos" />
        <activity
            android:name=".CustomDishEditorActivity"
            android:label="Añadir platos personalizados" />
        <activity
            android:name=".ChooseRestaurantActivity"
            android:label="Elija Restaurante" />
        <activity
            android:name=".EditDishActivity"
            android:label="Edición de Plato"
            android:noHistory="true" />
        <activity
            android:name=".OwnerDashboardActivity"
            android:label="Visualizador de platos" />
        <activity
            android:name=".OwnerMenuActivity"
            android:label="Menú de propietario" />
        <activity
            android:name=".UserPrefsActivity"
            android:label="Preferencias de Usuario" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registro de Nuevo Usuario"
            android:noHistory="true" />
        <activity
            android:name=".ClientMenuActivity"
            android:label="InstantEat" />
        <activity
            android:name=".LoginActivity"
            android:label="InstantEat"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>