<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instanteat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstantEat">
        <activity android:name=".EditCardActivity"
            android:noHistory="true" />

        <activity android:name=".OrderSummary"
            android:noHistory="true"
            android:label="Resumen del Pedido" />

        <activity android:name=".OrderEditorActivity"
            android:label="Editor deñ Pedido" />

        <activity android:name=".ChooseRestaurantActivity"
            android:label="Elija restaurante" />
        <activity android:name=".EditDishActivity"
            android:noHistory="true"
            android:label="Edición de Plato" />

        <activity android:name=".OwnerMenuActivity"
            android:label="Menú Principal" />

        <activity android:name=".UserPrefsActivity"
            android:label="Preferencias de Usuario" />

        <activity android:name=".RegisterActivity"
            android:noHistory="true"
            android:label="Registro de Nuevo Usuario" />

        <activity android:name=".ClientMenuActivity"
            android:label="InstantEat" />

        <activity android:name=".LoginActivity"
            android:noHistory="true"
            android:label="InstantEat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>